  <!-- title -->
  <div class="border border-class mt-4 p-2">
    <h2 class="h2-class mb-0">Users List</h2>
  </div>
  <!-- add button -->
  <button mat-raised-button class="btn btn-info" style="float: right; margin: 10px;" (click)="addUser()">Add</button>
  <!-- search form -->
  <div class="col-md-6" style="margin: 10px;">
    <form>
      <input type="text" [(ngModel)]="email" (input)="search()" name="email" placeholder="search email" class="form-control">
    </form>
  </div>
  <!-- table users list -->
  <div>
    <mat-table class="user-table mat-elevation-z8" [dataSource]="users" matSort>
      <!-- name column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>
      <!-- email column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>
      <!-- occupation column -->
      <ng-container matColumnDef="occupation">
        <mat-header-cell *matHeaderCellDef>Occupation</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.occupation }}</mat-cell>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-raised-button class="btn btn-info" (click)="userDetails(user.id)">Details</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actionu">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-raised-button class="btn btn-info" (click)="editUser(user.id)">Update</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actiond">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-raised-button class="btn btn-info" (click)="deleteUser(user.id)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
    <h3>Loading...</h3>
  </div>
